/*   /   /  //   /    /  /     /  /    /   /       /   
/______   / / __    /   _____ .. /. ___  ___  /   /   /
|      \.--.-(ЖЖ)-----./  __/ ЖЖЖЖЖ \  \/  / /  5.3  / 
|      /     |  |  .  |   _| ЖЖЖЖЖЖЖ /    /  2019-2023 
|__|\__\___._|__|__|__|__|    ЖЖЖЖЖ /__/\__\      /   /
  --  info and updates: github.com/1280px/rainfox  --  

To disable/enable some part of the style, add/remove "/* " before its @import. Example:

@import "userChromeReplaceEverythingWithPizza.css"                [ ENABLED ]

/* @import "userChromeReplaceEverythingWithPizza.css"             [ DISABLED ]





/* ### ###     Configure Variables      ### ### */
@import "userChromeVariables.css";





/* ### ###  Elem Animations & Rounding  ### ### */
@import "userChromeAnimations.css";


/* ### ###    PhotonUI icons (.icon)    ### ### */
@import "userChromeIcons.css";


/* ### ###   Hide Bloaty/Useless Opts   ### ### */
@import "userChromeOptHider.css";





/* ### ###     Legacy Context Menus     ### ### */
@import "userChromeContextMenus.css";


/* ### ###   ArrowPanel Context Menus   ### ### */
@import "userChromePanels.css";


/* ### ###   Adaptive Downloads Panel   ### ### */
@import "userChromeDownloads.css";





/* ### ###   Photon-like Rounded Tabs   ### ### */
@import "userChromeTabs.css";


/* ### ###  Various Tabbar-rel Changes  ### ### */
@import "userChromeTabbar.css";


/* ###   Tab Container Line/Cover Control   ### */
@import "userChromeTabContainers.css";


/* ###   Hourglass Tabs Loading Animation   ### */
/* @import "userChromeHourglassLoading.css";


/* ###   Autohide Tab Names until Hovered   ### */
/* @import "userChromeTabParanoia.css";





/* ###  Centered Autohide Bookmark Toolbar  ### */
/* @import "userChromeBookmarks.css";


/* ### ###  Menubar Animation & Shadow  ### ### */
@import "userChromeMenubar.css";


/* ### ###   Navigation Butons Features   ### ### */
@import "userChromeNavButtons.css";


/* ### ##  Adaptive 'Customize...' Page  ## ### */
@import "userChromePageCustomize.css";


/* ### ###     Small URLbar Changes     ### ### */
@import "userChromeURLbar.css";



/* ### ###      Other Changes        ### ### */



/* userChromeContextMenus.css | file:///C:/Users/chris/AppData/Roaming/Mozilla/Firefox/Profiles/cw236765.default-nightly-1646516420655/chrome/userChromeContextMenus.css */

.popup-internal-box, #PopupSearchAutoComplete > *, .menupopup-arrowscrollbox {
    /* padding: 4px 0 !important; */
    padding: 4px 6px !important;
}


/* panelUI-shared.css | chrome://browser/skin/customizableui/panelUI-shared.css */

#appMenu-popup .panel-banner-item, #appMenu-popup .addon-banner-item {
    align-items: flex-start;
    align-items: center !important;
}


/* panelUI-shared.css | chrome://browser/skin/customizableui/panelUI-shared.css */

#appMenu-popup .panel-banner-item, #appMenu-popup .addon-banner-item {
    /* align-items: flex-start; */
    /* margin-bottom: 4px !important; */
    align-items: center;
    margin-bottom: 4px !important;
}

/* userChrome.css | file:///C:/Users/chris/AppData/Roaming/Mozilla/Firefox/Profiles/cw236765.default-nightly-1646516420655/chrome/userChrome.css */

#appMenu-popup .panel-banner-item, #appMenu-popup .addon-banner-item {
    align-items: flex-start;
}

/* userChromePanels.css | file:///C:/Users/chris/AppData/Roaming/Mozilla/Firefox/Profiles/cw236765.default-nightly-1646516420655/chrome/userChromePanels.css */

.addon-banner-item, .panel-banner-item, #appMenu-fxa-status2:not([fxastatus="signedin"]) {
    /* margin: 0px 8px 4px !important; */
    margin: 2px 4px 4px !important;
}


